.container {
  padding: var(--container-mobile-padding);
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(../../../images/crystal-wall-of-crying-mobile.png);
  color: var(--brand-color-ligth);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titleContainer {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.sitePartName {
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.title {
  width: 260px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 200px;
  font-size: 14px;
  line-height: 1.4;
}

.seeMoreButton {
  padding: 12px;
  border: 1px solid var(--brand-color-ligth);
  background: none;
  border-radius: 32px;
  color: white;
}

.seeMoreButton:is(:hover, :focus) {
  color: var(--brand-color-hover);
  border-color: var(--brand-color-hover);
}

.seeMoreButton:is(:hover, :focus) .rightArrow {
  fill: var(--brand-color-hover);
}

.rightArrow {
  width: 12px;
  height: 12px;
  fill: var(--brand-color-ligth);
}

@media screen and (min-width: 768px) {
  .container {
    padding: var(--container-desktop-padding);
    padding-top: 148px;
    padding-bottom: 232px;
    background-image: url(../../../images/crystal-wall-of-crying-desktop.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }

  .titleContainer {
    width: 52%;
  }

  .descriptionContainer {
    width: 33%;
  }

  .seeMoreButton {
    width: 128px;
    padding: 8px 18px;
  }
}
