.container {
  padding: 60px 0;
}

.sitePartName {
  margin-bottom: 40px;
}

.image {
  width: 100%;
  margin-bottom: 20px;
}

.underImageTitle {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 40px;
}
