.container {
  padding: var(--container-mobile-padding);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sitePartName {
  margin-bottom: 40px;
  margin-right: auto;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contentContainer {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 112%;
  margin-bottom: 20px;
}

.underImageContent {
  display: flex;
  flex-direction: column;
}

.underImageTitle {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.description {
  margin-bottom: 40px;
  line-height: 24px;
  /* text-align: justify; */
}

.seeMoreButton {
  padding: 12px 34%;
  border: none;
  border-radius: 32px;
  background-color: #181818;
  color: white;
}

.seeMoreButton:is(:hover, :focus) {
  color: var(--brand-color-hover);
}

.seeMoreButton:is(:hover, :focus) .rightArrow {
  fill: var(--brand-color-hover);
}

.rightArrow {
  width: 12px;
  height: 12px;
  fill: var(--brand-color-ligth);
}

.horizontalLine {
  width: 100%;
  height: 80px;
  font-size: 54px;
  line-height: 1;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  color: var(--brand-color-ligth);
  background-color: var(--brand-color-dark);
  overflow: hidden;
}

.horizontalLineText {
  white-space: nowrap;
  animation: scroll 14s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: var(--container-desktop-padding);
    padding-top: 148px;
    padding-bottom: 148px;
    flex-direction: row;
  }

  .sitePartName {
    margin-bottom: auto;
  }

  .contentContainer {
    width: 820px;
    margin-bottom: 0;
  }

  .image {
    width: 100%;
    margin-bottom: 48px;
  }

  .underImageContent {
    flex-direction: row;
    column-gap: 104px;
    position: relative;
  }

  .underImageTitle {
    width: 316px;
    margin-bottom: 0;
  }

  .description {
    width: 400px;
    margin-bottom: 0;
    line-height: 20px;
  }

  .seeMoreButton {
    padding: 8px 18px;
    position: absolute;
    top: 84px;
  }

  .horizontalLine {
    height: 144px;
    font-size: 144px;
  }
}
