.headerContainer {
  padding: var(--container-mobile-padding);
  padding-top: 24px;
  background-color: var(--brand-color-dark);
  color: var(--brand-color-ligth);
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: left; */
}

.logoIcon {
  width: 72px;
  height: 28px;
}

.navigation {
  display: none;
}

.menuButton {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}

.menuIcon {
  width: 28px;
  height: 10px;
}

.mobileMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    padding: var(--container-desctop-padding);
    padding-top: 52px;
  }

  .navigation {
    display: block;
  }

  .menuButton {
    display: none;
  }
}
