.сontainer {
  padding: var(--container-mobile-padding);
  padding-top: 24px;
  background-color: var(--brand-color-dark);
  color: var(--brand-color-ligth);
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: left; */
}

.logoIcon {
  width: 72px;
  height: 28px;
}

.navigation {
  display: none;
}

.menuButton,
.closeMenuButton {
  width: 32px;
  height: 32px;
  margin-left: auto;
  background: none;
  border: none;
}

.menuIcon {
  width: 28px;
  height: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  background-color: #181818e3;
}

.backdrop.open {
  right: 0;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 262px;
  height: 100%;
  padding: 24px 20px 0px 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--brand-color-dark);
  transition: right 0.3s ease-in-out;
}

.mobileMenu.open {
  right: 0;
}

.closeMenuIcon {
  width: 19px;
  height: 19px;
}

.menuList {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media screen and (min-width: 768px) {
  .сontainer {
    padding: var(--container-desktop-padding);
    padding-top: 52px;
  }

  .navigation {
    display: block;
  }

  .menuButton {
    display: none;
  }
}
