.container {
  padding: var(--container-mobile-padding);
  padding-top: 30px;
  padding-bottom: 60px;
}

.sitePartName {
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.listItem {
  height: 24px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  transition: height 0.5s ease;
  cursor: pointer;
}

.listItem.heightAnimate {
  height: 588px;
}

.listItem:nth-child(-n + 5)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  height: 1px;
  background-color: var(--brand-color-dark);
}

.listItemContent {
  width: 100%;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
}

.title,
.time {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.title {
  margin-right: 20px;
}

.description {
  height: 0;
  overflow: hidden;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.2;
  transition: height 0.5s ease;
}

.description.show {
  height: 100%;
}

.toggleButton {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  transition: 0.5s ease;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  padding: 4px;
}

.toggleButton.rotate {
  transform: rotate(-0.5turn);
}

@media screen and (min-width: 768px) {
  .container {
    padding: var(--container-desktop-padding);
    padding-top: 80px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
  }

  .list {
    width: 70%;
    position: relative;
    right: -100px;
  }

  .listItem {
    height: 38px;
  }

  .listItem.heightAnimate {
    height: 388px;
  }

  .title,
  .time {
    font-size: 24px;
    line-height: 1;
  }

  .description {
    font-size: 16px;
  }

  .toggleButton {
    margin-right: 52px;
  }
}
