.container {
  padding: var(--container-mobile-padding);
  padding-top: 60px;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  background-color: var(--brand-color-dark);
  color: var(--brand-color-ligth);
}

.contactsAndAboutWrap {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.logoLink {
  display: inline-block;
  margin-bottom: 40px;
}

.logoIcon {
  width: 72px;
  height: 28px;
}

.titleAbout {
  height: 24px;
  padding-top: 8px;
  margin-bottom: 40px;
}

.contactsList,
.aboutList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.titleAbout,
.titleConnect {
  font-weight: 400;
  color: #6b6b6b;
}

.titleConnect {
  margin-bottom: 60px;
}

.connectWrap {
  margin-bottom: 60px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #6b6b6b;
  text-align: center;
}
