@import-normalize;

:root {
  --brand-color-dark: #181818;
  --brand-color-ligth: #ececec;
  --brand-color-white: #ffffff;
  --brand-color-hover: #6b6b6b;
  --container-mobile-padding: 0 20px;
  --container-desktop-padding: 0 100px;
  /* --desctop-main-heading: */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: 'wdth' 100;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
