.container {
  padding: var(--container-mobile-padding);
  padding-top: 198px;
  padding-bottom: 248px;
  display: flex;
  flex-direction: column;
  background-color: var(--brand-color-dark);
  color: var(--brand-color-ligth);
  row-gap: 14px;
  /* position: relative; */
}

.heading {
  width: 100%;
  margin: 0 auto;
  font-size: 54px;
  line-height: 54px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.firstImage {
  position: absolute;
  width: 294px;
  top: -26px;
  left: 77px;
  z-index: 1;
}

.secondImage {
  position: absolute;
  width: 272px;
  top: 328px;
  left: 0px;
  z-index: 1;
}

.headingLastWord {
  display: flex;
  justify-content: end;
}

.description {
  margin-left: auto;
  width: 176px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 88px;
  }

  .firstImage {
    /* position: absolute; */
    width: 324px;
    top: -173px;
    left: 347px;
    z-index: 3;
  }

  .heading {
    width: 634px;
    font-size: 108px;
    line-height: 108px;
  }

  .headingFirstWord {
    padding-left: 60px;
  }

  .headingSecondWord {
    display: flex;
    justify-content: end;
  }

  .headingLastWord {
    display: flex;
    justify-content: start;
  }

  .description {
    position: absolute;
    bottom: 255px;
    right: 300px;
  }

  .secondImage {
    /* position: absolute; */
    width: 382px;
    top: -84px;
    left: -201px;
    z-index: 3;
  }
}
