.container {
  padding: var(--container-mobile-padding);
  padding-top: 260px;
  padding-bottom: 316px;
  display: flex;
  flex-direction: column;
  background-color: var(--brand-color-dark);
  color: var(--brand-color-ligth);
  row-gap: 14px;
}

.heading {
  width: 352px;
  margin: 0 auto;
  font-size: 54px;
  line-height: 54px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
}

.firstImage {
  position: absolute;
  width: 214px;
  top: -215px;
  right: 38px;
  transform: rotate(15deg);
  box-shadow: 0px 16px 60px 23px #181818;
  z-index: 1;
}

.secondImage {
  position: absolute;
  width: 172px;
  border: 5px solid var(--brand-color-ligth);
  top: 188px;
  left: 20px;
  transform: rotate(-15deg);
  box-shadow: 0px 16px 60px 23px #181818;
  z-index: 1;
}

.headingFirstWord {
  z-index: 2;
}

.headingSecondWord {
  z-index: 2;
}

.headingLastWord {
  display: flex;
  justify-content: end;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  width: 166px;
  bottom: -40px;
  right: 0px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .container {
    /* padding: var(--container-desktop-padding); */
    padding-top: 156px;
    padding-bottom: 168px;
  }

  .firstImage {
    /* position: absolute; */
    width: 220px;
    top: -140px;
    right: 24px;
    z-index: 3;
  }

  .heading {
    width: 748px;
    font-size: 108px;
    line-height: 108px;
  }

  .headingFirstWord {
    padding-left: 60px;
  }

  .headingSecondWord {
    display: flex;
    justify-content: end;
  }

  .headingLastWord {
    display: flex;
    justify-content: start;
  }

  .description {
    width: 230px;
    font-size: 20px;
    line-height: 24px;
    right: -114px;
    bottom: 8px;
  }

  .secondImage {
    width: 238px;
    border: 8px solid var(--brand-color-ligth);
    top: -4px;
    left: -184px;
    z-index: 3;
  }
}
